* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {
    background: url("images/homepage-desktop.png");
    height: 60rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;

}





.header-title {
    max-width: 50%;
    color: white;
    font-size: 3.1rem;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 100px;
}

.header-text {
    max-width: 40%;
    color: white;
    padding: 60px 0;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 40px;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

}



.nav-menu {
    list-style: none;
    color: white;

}

.nav-menu li {
    display: inline-block;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.container {
    max-width: 1171px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px 0 20px;
}



#contact-btn {
    padding: 10px 35px;
    background: #ff8257;
    border-radius: 50px;
    color: white;
    margin-left: 20px;
}

#gs-btn {
    padding: 22px 60px;
    background: white;
    border-radius: 50px;
    color: #2e3d62;
    text-decoration: none;
    font-size: 1.3rem;

}

footer {
    /*padding: 100px;*/
    background-color: white;
    background-size: cover;
    font-family: sans-serif;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    /*margin-right: 140px;*/
}

.footer-col {
    margin: 30px 0;
    width: 20%;
}

.footer-logo {
    margin: 30px 90px 30px 0;
    width: 30%;
}

.footer-title {
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 200%;
}

.footer-images {
    margin-bottom: 1rem;
}

.copyright {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    height: 3rem;
    width: 100%;
    background-color: #ededed;
    margin-bottom: 2rem;
}